body {
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
}

.App {
  width: 50%;
  display: block;
  margin: 20px auto;
  padding: 15px;
  border: black solid 1px;
  border-radius: 6px;
  background-color: #fae5bb;
  font-family: sans-serif;
  text-align: center;
}
